body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kumbh Sans, sans-serif;
  text-align: center;
  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 40vw bottom 50vh, left 40vw top 50vh;
}

.container {
  width: 326px;
  height: 380px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.bg__image {
  max-width: 100%;
}

.face {
  position: absolute;
  top: 74px;
  left: 107px;
  border: 8px white solid;
  border-radius: 100%;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  display: inline;
  color: #2e3349;
}

.age {
  font-size: 18px;
  display: inline;
  color: #6b7082;
}

.container2 {
  position: absolute;
  top: 200px;
  left: 96px;
  right: 96px;
}
.place {
  font-size: 14px;
  font-weight: 400;
  color: #6b7082;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e8e9ec;
  position: absolute;
  left: 0;
  top: 285px;
}

.socialnet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 300px;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
  color: #2e3349;
  margin-bottom: 0;
}

.p1 {
  color: #6b7082;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  vertical-align: top;
}

@media screen and (min-width: 700px) {
  body {
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  }
  .container {
    width: 350px;
  }
  .face {
    top: 84px;
    left: 119px;
  }
}
